* {
    margin: 0;
    padding: 0;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.row {
    gap: 1rem;
    border-spacing: .5rem .25rem;
    width: 14.5rem;
}

.top-bottom {
    border-spacing: .5rem .75rem;
}

.block {
    margin-top: -.5rem;
    background-color: rgb(211, 211, 211);
    width: 3rem;
    height: 3rem;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.border {
    border: 2px solid rgb(211, 211, 211);
    background: white;
    width: calc(3rem - 4px);
    height: calc(3rem - 4px);
}

.changed, .selected {
    border: 2px solid black;
    width: calc(3rem - 4px);
    height: calc(3rem - 4px);
}

.matching {
    background-color: rgb(155, 190, 144);
}

.given {
    background-color: rgb(55, 126, 34);
    color: white;
}

html, 
body {
    height: 100%;
    width: 100%;
}
header {
    height: 3rem;
}


#wrapper {
    position: relative;
    margin: auto;
    height: calc(100% - 3rem);
    width: 100%;
}

#solver {
    position: absolute;
    left: calc(50% - 7.25em);
    width: 14.5rem;
    
}

#in {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    background-color: transparent;
    font-size: 5rem;
    cursor: default;
    text-align: center;
    color: transparent;
    caret-color: transparent;
}

input {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: none;
}

input:focus-visible {
    outline: none;
    text-indent: -9999em;
}
